<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Controles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Controles.Properties.Settings>
            <setting name="Controles_WS_ServiciosViewempresa_ServiciosViewempresa"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosViewempresa.asmx</value>
            </setting>
            <setting name="Controles_WS_ServiciosTipoproducto_ServiciosTipoproducto"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosTipoproducto.asmx</value>
            </setting>
            <setting name="Controles_WS_ServiciosDepartamento_ServiciosDepartamento"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosDepartamento.asmx</value>
            </setting>
            <setting name="Controles_WS_ServiciosMunicipio_ServiciosMunicipio"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosMunicipio.asmx</value>
            </setting>
        </Controles.Properties.Settings>
    </applicationSettings>
</configuration>