<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClienteFiel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClienteFiel.Properties.Settings>
            <setting name="ClienteFiel_WS_ServiciosTiporedsocial_ServiciosTiporedsocial"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosTiporedsocial.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosImagen_ServiciosImagen"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosImagen.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosTipoidentificacion_ServiciosTipoidentificacion"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosTipoidentificacion.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosTipoactividad_ServiciosTipoactividad"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosTipoactividad.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosTipoproducto_ServiciosTipoproducto"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosTipoproducto.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosDepartamento_ServiciosDepartamento"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosDepartamento.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosMunicipio_ServiciosMunicipio"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosMunicipio.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosEmpresa_ServiciosEmpresa"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosEmpresa.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosViewempresa_ServiciosViewempresa"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosViewEmpresa.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosViewproducto_ServiciosViewproducto"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosViewproducto.asmx</value>
            </setting>
            <setting name="ClienteFiel_WS_ServiciosProducto_ServiciosProducto"
                serializeAs="String">
                <value>http://localhost:51390/Servicios/ServiciosProducto.asmx</value>
            </setting>
        </ClienteFiel.Properties.Settings>
    </applicationSettings>
</configuration>